 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PickPlay</title>
</head>

<body>
room play
</body>

<button onclick="next()">next</button>

<button onclick="responder()">responder</button>

</html> 

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=crossorigin="anonymous"></script>

<script type="text/javascript">
  socket = io('localhost:3000',{
    'reconnection': true,
    'reconnectionDelay': 50000,
    'reconnectionAttempts': 10
  });

socket.emit("joinRoom",null);

socket.on("joinRoom",function(movie){
	console.log(movie);
});

socket.on('getmovie',function(movie){
console.log(movie);
})

function next(){

socket.emit("nextMovie");

}

function responder(){

socket.emit("answer");

}

</script>